body{

margin:0px;


}

header {

  text-align:center;

  
}

nav {

	

}

aside {



}

section {
	
	

}

#editor{
	
	margin:0px;
	/*width:100%;*/
	padding:10px;

}

/*-----------------LAYOUT--------------*/

.row{

    clear:both;

}

.colum{

    float:left;
	display:inline-block;

}

.w-20p{

	width:20%;

}

.w-50p{

	width:50%;

}

.w-60p{

	text-align:center;

	width:60%;

}



footer {


}





/*------------------PADDING-----------------*/


.object_type_li,
.object_type_header,
.object_type_options,
.prop_value,
.prop_name,
.panel,
.array_element,
.array_element_name,
.tab_content,
.tab_link
{

	padding : 5px;

}

.param_value  input,
.param
.param_label{

	padding :2px;

}

li,
ul,
.prop_value_compact{


	padding:0px;

}

/*------------------MARGIN-----------------*/

li,
ul,
input[type='checkbox']
{
	
	margin:0px;
	
}

.array_element{
	
	margin-bottom:5px;

}

.param_value  inpu,
.param_label{

	margin-right : 3px;

}



/*----------------TABS------------------*/


.tab_link{

padding-left:10px;
padding-right:10px;

	display:inline-block;	
	text-align:center;

}

.tab_content{

	/*margin-top:5px;*/
	position:absolute;


}




/*-----------------------------------------------------------COSMETIC---------------------------------------------/*


/*-----------------COLORS--------------------*/

select,
input,
.blue{

	color:#00AAFF;

}

input[type='text'],
.orange{

	color:#FFAA00;
}



.green{

	color:#55AA00;

}
.tab_content,
.panel,
.property,
.object_type_li,
.ligthcolor,
.param{

background-color : #eeeeee;


}


.prop_name,
.object_type_header,
.mediumcolor{

background-color : #CCCCCC;


}


.object_type_options,
.darkcolor{

background-color : #666666;

}



/*-----------------FONTS--------------------*/


body,button,table{

	font-family:arial;
	font-size:9px;
	
}



input,
select,
.courrier{


	font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
	font-size:9px;


}


input[type='text'],
.orange{

	color:#FFAA00;
	font-style: italic;
}



/*-----------------BORDER_RADIUS--------------*/

#outliner{


}

.panel,
.object_type_header,
.object_type_li,
.property,
.prop_name,
.param,
.array_element,
.object_type_options,
#creation{

	border-radius:2px;
	-moz-border-radius:2px;

}

/*-----------------BOX_SHADOW----------------*/

.tab_link,
.panel,
.object_type_header,
.object_type_li,
.property,
.prop_name,
.param,
.array_element,
.object_type_options,
#creation{

	box-shadow:0px 0px 3px 0px #aaaaaa;

}

/*---------INPUTS------------*/



input[type="number"] {
  width:50px;
}
.object_type_li{

	display:block;

}


.object_type_header{

	display:block;

}

.object_type_options{

	display:block;

}

li{
	
	list-style-type:none;

}

#display{
	

	display:inline-block;

}



#properties{

}
#preview{
	/*width:600px;
	height:200px;*/
	overflow:hidden;
}

#properties li{

}

img{

	width:100%;

}

.property{


}

.prop_name{

	color:#222222;
	display:block;
	cursor:pointer;
	

}

.line{

	display:inline-block;

}

.hidden{

	display:none;

}


.prop_value{


}



.array_element_name{
	display:block;
	color:#0000FF;
	cursor:pointer;

}

.params{

	display:none;


}

.animation{
background-color : #ffee55;


}
.action{
background-color : #aaee55;


}
.pattern{
background-color : #ffaa55;


}
.sound{
background-color : #ff0055;


}


.param_label{

	margin-right : 3px;

}

.param_value{
	width:100%;

	background-color:#FFFFFF;

}


.param_value  input{
	padding:2px;
	margin-right : 3px;
	background-color:#FFFFFF;

}


#creation{

	position:absolute;
	display:none;
	width:400px;
	height:500px;
	z-index:100;
	background-color : #aaee55;

}