body{

margin:0px;


}


#editor{
	
	margin:0px;
	/*width:100%;*/
	padding:10px;

}

header {

  text-align:center;
}

nav {

}

aside {

}


section {
	
    float:left;
}

.part_left{

width:20%;

}

.part_center{

text-align:center;

width:60%;

}

.part_right{

width:20%;

}

footer {

    clear:both;
    padding:5px;	

}


body,button,table,input,option{

	font-family:arial;
	font-size:9px;


}


.panel{

	box-shadow:0px 0px 5px 0px #aaaaaa;
	padding : 5px;
	background-color : #eeeeee;
	margin-left:5px;
	border-radius:5px;
	-moz-border-radius:5px;
}


#outliner{

	display:inline-block;
	width:100%;

}

.object_type_li{

	box-shadow:0px 0px 5px 0px #aaaaaa;
	padding : 5px;
	display:block;
	background-color : #eeeeee;
	border-radius:5px;
	-moz-border-radius:5px;

}


.object_type_header{

	box-shadow:0px 0px 5px 0px #aaaaaa;
	padding : 5px;
	display:block;
	background-color : #999999;
	border-radius:5px;
	-moz-border-radius:5px;

}

.object_type_options{

	box-shadow:0px 0px 5px 0px #aaaaaa;
	padding : 5px;
	display:block;
	background-color : #666666;
	border-radius:5px;
	-moz-border-radius:5px;

}

li{
	
	list-style-type:none;
	padding:0px;
	margin:0px;


}
ul{
	
	padding:0px;
	margin:0px;


}
#display{
	

	display:inline-block;

}



#properties{

}
#preview{
	/*width:600px;
	height:200px;*/
	overflow:hidden;
}

#properties li{

}

img{

	width:100%;

}

.property{

	box-shadow:0px 0px 2px 0px #aaaaaa;
	background-color : #eeeeee;
	border-radius:3px;
	-moz-border-radius:3px;
	margin-bottom:10px;

}

.prop_name{

	background-color : #cccccc;
	color:#222222;
	padding:5px;
	display:block;
	box-shadow:0px 3px 3px 0px #aaaaaa;
	cursor:pointer;
	

}

.line{

	display:inline-block;

}

.hidden{

	display:none;

}


.prop_value{

	padding:5px;


}

.prop_value_compact{

	padding:0px;


}


.array_element{
	
	box-shadow:0px 0px 3px 0px #aaaaaa;
	padding : 5px;
	border-radius:3px;
	-moz-border-radius:3px;
	margin-bottom:10px;
	/*display:inline-block;*/
}

.array_element_name{
	padding:5px;
	display:block;
	color:#0000FF;
	cursor:pointer;


}

.params{

	display:none;


}

.animation{
background-color : #ffee55;


}
.action{
background-color : #aaee55;


}
.pattern{
background-color : #ffaa55;


}
.sound{
background-color : #ff0055;


}



.param{

	/*box-shadow:0px 0px 3px 0px #aaaaaa;*/
	padding : 2px;
	background-color : #eeeeee;
	border-radius:3px;
	-moz-border-radius:3px;

}

.param_label{
	padding:2px;
	margin-right : 3px;

}

.param_value{
	width:100%;
	padding:2px;
	background-color:#FFFFFF;

}


.param_value  input{
	padding:2px;
	margin-right : 3px;
	background-color:#FFFFFF;

}


#creation{

	position:absolute;
	display:none;
	width:400px;
	height:500px;
	z-index:100;
	border-radius:3px;
	-moz-border-radius:3px;
	box-shadow:0px 0px 3px 0px #aaaaaa;
	padding : 5px;
	background-color : #aaee55;

}